* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

/* Lists */

.list {
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    font-weight: 600;
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin: 1rem;
}

.list__item {
    margin: 4.5rem;
}

.list__item > a {
    color: rgb(206, 201, 201);
}

.list__item > a:hover {
    color: rgb(39, 142, 142);
    transition: 0.3s;
}

@media screen and (min-width: 768px) {
    .list {
        font-size: 2rem;
    }

    .list__item {
        margin: 2rem 4rem;
    }
}

/* NavBar */

nav {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    background: rgba(94, 102, 131, 0.3);
    position: sticky;
}

.img-bg {
    width: 100%;
    height: 900px;
    background-image: url(../images/keyboard.jpg);
    background-size: cover;
}

@media screen and (min-width: 768px) {
    nav .list {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
}

/* Links */

a {
    text-decoration: none;
}
