* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

/* Typography */

h1, h2, h3 {
    font-family:"Lobster", Georgia, 'Times New Roman', Times, serif;
}

/* Lists */

.list {
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    font-weight: 600;
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin: 1rem;
}

.list__item {
    margin: 4.5rem;
}

.list__item > a {
    color: rgb(213, 191, 191);
}

.list__item > a:hover {
    color:rgb(185, 118, 31);
    transition: 0.5s;
}

@media screen and (min-width: 768px) {
    .list {
        font-size: 2rem;
    }

    .list__item {
        margin: 2rem 4rem;
    }
}

/* NavBar */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background: rgb(45, 17, 17);
    position: sticky;
    top: 0;
    z-index: 3;
}


@media screen and (min-width: 768px) {
    nav .list {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
}

/* Links */

a {
    text-decoration: none;
}

/* Home Section */

.home {
    display: flex;
    flex-direction: column;
    height: 54rem;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}

.home__heading {
  color: rgb(185, 118, 31);
  z-index: 2;
}

.home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/keyboard.jpg) no-repeat center center/cover;
    height: 90rem;
    width: 100%;
    z-index: -1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60%;
    text-align: center;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .home::before {
      height: 63rem;
    }
    .main {
      position: absolute;
      top: 29%;
    }
    .home__heading {
      font-size: 7rem;
    }
    .home {
      height: 56.5rem;
    }
}