html {
   font-size: 62.5%;
}

body {
   font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
}

/* Typography Section */

h1, h2, h3 {
   font-family:"Aladin", Georgia, 'Times New Roman', Times, serif;
}

/* Lists Section */

.list {
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    font-weight: 600;
    list-style: none;
    padding-left: 0;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* NavBar Section*/

nav {
    display: flex;
    font-size: 2.5rem;
    background: rgb(45, 17, 17);
    top: 0;
    z-index: 3;
    position: sticky;
}

.nav__toggler {
    opacity: 0.5;
    cursor: pointer;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item > a {
  color:rgb(213, 191, 191);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color:rgb(185, 118, 31);
}

.nav__toggler {
  opacity: 0.5;
  transition: 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
    nav .list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 1rem;
        max-height: 100%;
        opacity: 1;
        font-size: 2rem;
    }
    .nav__toggler {
        display: none;
    }
}

/* Buttons */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  padding: 1.8rem 2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 900;
  border: 1px solid rgb(177, 177, 222);
  color: rgb(145, 145, 230);
  letter-spacing: 4px;
  font-family: "Aladin";
}

.btn:hover {
  background: rgb(145, 145, 230);
  transition: 0.5s;
  color: #e6dbaf;
}

.mycv {
  margin: 4rem 0;
}

@media screen and (max-width: 280px) {
  .btn {
    font-size: 1rem;
  }
}

/* Links Section */

a {
    text-decoration: none;
}

/* Icons Section */

.icon {
    width: 30px;
    height: 40px;
    fill:rgb(222, 201, 201);
    margin-right: 1rem;
}

/* Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    height: 45rem;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}

.hero__heading {
    color: rgb(177, 177, 222);
    z-index: 2;
    font-size: 5.5rem;
}

.hero::before{
    content: "";
    position: absolute;
    right: 0;
    background: url(../images/keyboard.jpg) no-repeat center center/cover;
    height: 50rem;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    line-height: 1.5;
    top: 4;
}

@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 5rem;
  }
  .hero {
    height: 49rem;
  }
}

@media screen and (min-width: 1024px) {
    .hero::before {
      height: 62rem;
    }
    .hero__content {
      position: absolute;
      top: 25%;
    }
    .hero__heading {
      font-size:  7.5rem;
    }
    .hero {
      height: 62rem;
    }
}

/* Collapsible Section */

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Grids Section */

.grid {
  display: grid;
}

.grid--gallery {
  column-gap: 1rem;
  row-gap: .1rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* About Me Section */

.about-me {
  padding: 0 3rem;
}

.about-me__image > img {
  width: 100%;
  border-radius: 10px;
}

.about-me__heading {
  margin-bottom: 1.8rem;
}

.mybio {
  font-size: 2.5rem;
  color: #79776f;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .about-me__image > img {
    width: 80%;
    margin: 7rem 0;
  }
  .mybio {
    font-size: 2rem;
  } 
}

@media screen and (min-width: 1024px) {
  .about-me__image > img {
    width: 65%;
    margin: 0 0 0 8rem;
  } 
}

/* Blocks */

.block {
  --padding-vertical: 2rem;
  padding: var(--padding-vertical) 2rem;
  background: rgb(44, 47, 54);
}

.block--dark {
  background: rgb(36, 25, 25);
}

.block__header {
  text-align: center;
  color: #e6dbaf;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .block__header {
    font-size: 3.5rem;
  } 
}

@media screen and (min-width: 1024px) {
  .block__header {
    font-size: 4rem;
  }
}

/* My Portfolio Section */

.my-portfolio__heading {
  color: rgb(177, 177, 222);
}

.portfolio__image {
  width: 100%;
  border-radius: 5px;
}

.portfolio__gallery {
  border: 1px solid orange;
}













