<section class="block">
      <header class="block__header">
        <h2 class="about-me__heading">About Me</h2>
      </header>
      <div class="about-me">
        <div class="grid grid--1x2">
          <header class="about-me__image">
              <img class="" src="../images/my-image.jpeg" alt="">
          </header>
          <article class="mybio">
            <p>I've had several work experiences that helped me to gain some important skills: good customer care relations, problem solving and empathy. Also I am really fond of languages, especially Chinese and Japanese and of East Asian governance and economics. After graduating in a Master in Tourism Management, I realized the importance of improving Tech skills as well by learning different programming languages such as HTML5, CSS and JS.
               I am a very welcoming person, extroverted and eager to prove myself in a challenging and fun environment.</p>
        </div>
      </div>
</section>